*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body{
  min-height: 100vh;
}

h3{
  text-align: center;
  background: grey;
  color: #fff;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(assets/img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 20px 100px;
}

.main-search{
  width: 125%;
  max-width: 700px;
  background: midnightblue;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  opacity: 90%;
}

.main-search input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  color: #fff;
}

::placeholder{
  color: #fff;
  font-size: 18px;
}

.main-search button img{
  width: 25px;
}

.main-search button{
  border: 0;
  width: 60px;
  height: 60px;
  background: midnightblue;
  cursor: pointer;
}

.section-main h1{
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 100px;
}

.section-main h2{
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

h2 a:hover{
  color: lightgreen;
}

.bioPic{
  border-radius: 100%;
  max-width: 50%;
  height: auto;
  display: block;
  justify-content: left;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 0px 0px;
  transition: 0.6s;
}

header.sticky{
  background: midnightblue;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 0px 0px;
  transition: 0.6s;
}

header .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: #000;
  background: #fff;
  opacity: 90%;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.section-two{
  min-height: 100vh;
  background: grey;
  padding: 20px 100px;
}

.section-two h2{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.section-two p{
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
}

@media (max-width: 1060px){
  header .btn{
    display: block;
  }

header .menu{
  position: fixed;
  background: midnightblue;
  flex-direction: column;
  min-width: 400px;
  height: 100vh;
  top: 0;
  right: -100%;
  padding: 80px 50px;
  transition: 0.5s;
  transition-property: right;
  opacity: 90%;
 }

 header .menu.active{
  right: 0;
 }

header .menu .close-btn{
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
 }
 header .menu a{
  display: block;
  font-size: 20px;
  margin: 20px;
  padding: 0 15px;
 }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}

a{
  text-decoration: none;
  color: #fff;
}

footer{
  background: midnightblue;
  color: #fff;
  height: 65px;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #fff;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 24px;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  background-color: midnightblue;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color:midnightblue;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}



